/* header */
html {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 20px;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	background: #000000;
	color: #fff;
}

.header {
	padding: 0px 15px;
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 0.75px;
	@media screen and (max-width: 991px) {
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.65px;
	}
	.nav-item {
		padding-left: 1.5rem;
		@media screen and (max-width: 1199px) {
			padding-left: 1rem;
		}
		@media screen and (max-width: 991px) {
			padding-left: 0.6rem;
			.nav-link {
				padding-left: unset;
				padding-right: unset;
			}
		}
		.btn {
			border-radius: 24px !important;
			background-color: transparent;
			border: 2px solid #fff;
			&:focus {
				-webkit-box-shadow: none;
				box-shadow: none;
				background-color: transparent;
			}
		}
	}
	.navbar-nav {
		width: 100%;
	}
	.discord {
		padding-left: 0.7rem;
		@media screen and (max-width: 991px) {
			svg {
				height: 20px;
			}
		}
	}
	.twitter {
		padding-left: 0.7rem;
		@media screen and (max-width: 991px) {
			svg {
				height: 20px;
			}
		}
	}
	.wallet-connect-btn {
		padding-left: 1rem;
		@media screen and (max-width: 991px) {
			padding-left: 0.5rem;
		}
	}
	.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: 15px;
		line-height: 23px;
		letter-spacing: 0.75px;
    border-radius: .2rem;
		@media screen and (max-width: 991px) {
			font-size: 13px;
			line-height: 20px;
			letter-spacing: 0.65px;
		}
	}
	.navbar {
		padding: 10px 0px;
	}

	.nav-link {
		color: #fff !important;
	}

	.navbar-light {
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
		}
		.navbar-toggler {
			border: none;
			&:focus {
				box-shadow: none;
			}
		}
	}
	.navbar-brand {
			@media screen and (max-width: 767px)  {
			img {
				width: 85px;
			}
		}
	}
}
.header.sticky {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 91;
	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		padding: 10px 15px;
		width: 100%;
		background: #fff;
		opacity: 0;
		-webkit-animation: fadeInDown .95s ease-in-out 0s 1 normal none running;
		animation: fadeInDown .95s ease-in-out 0s 1 normal none running;
		-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
		transition: all .3s cubic-bezier(.645,.045,.355,1);
		opacity: 1;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		background: #6FA456;
	}
	.navbar-brand {
		img {
			width: 50px;
		}
	}
}

@media (max-width: 767px) {
	.header {
		.navbar-collapse {
			background-color: #d3bebe;
			ul {
				padding-top: 15px;
    		padding-bottom: 18px;
			}
			.menu {
				flex-direction: column;
				align-items: start !important;
				li {
					padding-left: 0.9rem;
				}
			}
		}
	}
}
@media (min-width: 768) {
	.header {
		.navbar-collapse {
			display: flex !important;
		}
	}
}

.contractInfo {
	margin-top: 60px;
	padding-bottom: 10px;
	h3 {
		font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
	}
	hr {
		background-color: #fff;
		height: 2px;
		border: none;
		color: #fff;
		opacity: 1;
	}
}

.contract-section {
	background-color: #000000;
	h3 {
		font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
		margin-bottom: 25px;
		padding-top: 1rem;
	}
	p {
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 20px;
	}
	.form-control {
		background-color: transparent;
		border: 2px solid #ced4da;
		color: #fff;
		&:focus {
			box-shadow: none;
		}
	}

	.input-group-text {
		background-color: transparent;
		border: 2px solid #ced4da;
		border-right-color: transparent;
		color: #fff;
	}

	::placeholder {
		color: #fff;
	}

	hr {
		background-color: #fff;
		height: 1px;
		border: none;
		color: #fff;
		opacity: 1;
		margin-bottom: 0;
	}
	button {
		padding: 13px 30px;
    background: transparent;
    border: 3px solid #FFF;
    border-radius: 45px;
    font-size: 18px;
    line-height: 27px;
		font-weight: 300;
		@media screen and (max-width: 991px) {
			font-size: 17px;
			line-height: 25px;
		}
		&:active {
			background-color: #6FA456;
    	border-color: #fff;
			box-shadow: none;
		}
		&:focus {
			background-color: #6FA456;
    	border-color: #fff;
			box-shadow: none;
		}
		&:hover {
			background-color: #609447;
    	border-color: #fff;
			box-shadow: none;
		}
	}
}

.footer {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #1C2423;
	.footer-logo {
		@media screen and (max-width: 767px) {
			margin-bottom: 35px;
		}
	}
	hr {
		border: 1px solid #969696;
	}
	.footer-links {
		justify-content: flex-end;
		@media screen and (max-width: 767px) {
			justify-content: center;
		}
		
		ul {
			@media screen and (max-width: 575px){
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
			li {
				padding: 0px 16px;
				@media screen and (max-width: 575px) {
					padding: 0 0;
				}
				a {
					text-decoration: none;
					color: white;
					font-size: 15px;
					line-height: 23px;
					letter-spacing: 0.75px;
					@media screen and (max-width: 991px) {
						font-size: 13px;
						line-height: 20px;
						letter-spacing: 0.65px;
					}
				}
			}
		}
	}
	.footer-left {
		margin-top: 70px;
		font-size: 15px;
		line-height: 29px;
		@media screen and (max-width: 991px) {
			svg {
				height: 20px;
			}
		}
		ul {
			li {
				padding: 0px 16px;
			}
		}
	}
}

.modal-dialog {
	.modal-content {
    border-radius: 5px;
    box-shadow: 1px 1px 1px #3a3634;
    background: #4B4B4B;
		.modal-header {
			display: flex;
			justify-content: center;
			position: relative;
			.modal-title {
				font-weight: 600;
			}
			.close {
				border: none;
				font-size: 50px;
				background: transparent;
				color: #fff;
				position: absolute;
				right: 16px;
				.sr-only {
					display: none;
				}
			}
		}
		.modal-body {
			display: flex;
			flex-direction: column;
			align-items: center;
			.mint-number {
				display: flex;
				padding-left: 80px;
				padding-right: 80px;
				justify-content: space-between;
				font-size: 56px;
				width: 100%;
				button {
					font-size: 50px;
					border: none;
					background: #fff;
					color: #6FA456;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					position: relative;
					span {
						position: absolute;
						width: 50px;
						height: 50px;
						top: -10px;
						left: 1px;
					}
				}
				label {
					color: #fff;
					margin-bottom: 0;
					font-size: 50px;
				}
			}
		}
		.modal-footer {
			display: flex;
			justify-content: center;
			button {
				border-radius: 35px;
				background-color: #fff;
				color: #6FA456;
				font-weight: 600;
			}
		}
	}
}

.wallet-connection {
	.modal-dialog {
		max-width: 330px;
		margin: 7.5rem auto;
		.modal-content {
			background-color: #121212;
			border-radius: 5px;
			border: 1px solid rgba(0,0,0,.2);
			.modal-header {
				border-bottom: none;
				position: relative;
				padding: 1.5rem 1rem 0;
				.modal-title {
					font-size: 17px;
					line-height: 1.5;
					font-weight: 400;
				}
				.close {
					position: absolute;
			    right: 3px;
    			top: 0px;
					font-size: 30px;
				}
			}
			.modal-body {
				button {
					border-radius: 40px;
					width: 200px;
					height: 45px;
					margin: 10px 5px;
					border: 1.5px solid #d4d4dc;
					font-size: 13px;
					padding: 8px 17px;
					background: rgb(10, 10, 10);
					color: #FFF;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					img {
						margin-right: 12px;
					}
					&:focus {
						box-shadow: none;
					}
				}
				.metamask-btn {
					@media screen and (max-width: 767px) {
						display: none;
					}
				}
			}
		}
	}
}


.info-modal {
	.modal-dialog {
		max-width: 370px;
		margin: 7.5rem auto;
		.modal-content {
			background-color: #121212;
			border-radius: 5px;
			border: 1px solid rgba(0,0,0,.2);
			.modal-header {
				border-bottom: none;
				position: relative;
				padding: 1.5rem 1rem 0;
				.modal-title {
					font-size: 17px;
					line-height: 1.5;
					font-weight: 400;
				}
				.close {
					position: absolute;
			    right: 3px;
    			top: 0px;
					font-size: 30px;
				}
			}
			.modal-body {
				p {
					font-size: 15px;
				}
				ul > li {
					font-size: 15px;
				}
			}
		}
	}
}

.network-change {
	.modal-dialog {
		max-width: 330px;
		margin: 7.5rem auto;
		.modal-content {
			background-color: #121212;
			border-radius: 5px;
			border: 1px solid rgba(0,0,0,.2);
			.modal-header {
				border-bottom: none;
				position: relative;
				padding: 1.5rem 1rem 0;
				.modal-title {
					font-size: 17px;
					line-height: 1.5;
					font-weight: 400;
				}
				.close {
					position: absolute;
			    right: 3px;
    			top: 0px;
					font-size: 30px;
				}
			}
			.modal-body {
				p {
					font-size: 15px;
				}
				button {
					border-radius: 40px;
					width: 200px;
					height: 45px;
					margin: 10px 5px;
					border: 1.5px solid #d4d4dc;
					font-size: 13px;
					padding: 8px 17px;
					background: rgb(10, 10, 10);
					color: #FFF;
					display: flex;
					justify-content: center;
					align-items: center;
					&:focus {
						box-shadow: none;
					}
				}
			}
		}
	}
}